img {
  width: 400px;
}
#thirdDiv {
  height: 600px;
  width: 400px;
  padding: 50px;
  margin: 25px;
  border: 10px dotted chartreuse;
}

#spanId {
  font-size: 25px;
  margin: 50px;
  background-color: cadetblue;
}
h1 {
  color: brown;
}
